<div class="contacts-container container">
  <h1>Контакти</h1>

  <div class="contacts-grid">
    <div class="contacts-list">
      <div
        class="contact-info"
        *ngFor="let contact of contacts | slice: 0 : displayLimit"
      >
        <div class="contact-item">
          <h3>Адреса</h3>
          <p>{{ contact.sity }}, {{ contact.street }} {{ contact.address }}</p>
        </div>

        <div class="contact-item">
          <h3>Телефон</h3>
          <p>
            <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
          </p>
        </div>

        <div class="contact-item">
          <h3>Email</h3>
          <p>
            <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
          </p>
        </div>

        <div class="contact-item">
          <h3>Графік роботи</h3>
          <p>{{ contact.scheduleDays }}</p>
          <p>{{ contact.scheduleEnd }}</p>
        </div>
        <hr *ngIf="contacts.length > 1" />
      </div>
    </div>

    <div class="contact-form">
      <h3>Напишіть нам</h3>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="input-group">
          <label for="name">Ваше ім'я*</label>
          <input
            type="text"
            formControlName="name"
            placeholder="Ваше ім'я"
            id="name"
          />
          <small class="error" *ngIf="hasError('name')">
            {{ getErrorMessage("name") }}
          </small>
        </div>

        <div class="input-group">
          <label for="email">Email*</label>
          <input
            type="email"
            formControlName="email"
            placeholder="Email"
            id="email"
          />
          <small class="error" *ngIf="hasError('email')">
            {{ getErrorMessage("email") }}
          </small>
        </div>

        <div class="input-group">
          <label for="message">Повідомлення*</label>
          <textarea
            formControlName="message"
            placeholder="Ваше повідомлення"
            rows="5"
            id="message"
          ></textarea>
          <small class="error" *ngIf="hasError('message')">
            {{ getErrorMessage("message") }}
          </small>
        </div>

        <button type="submit" class="send-btn" [disabled]="contactForm.invalid">
          Відправити
        </button>
      </form>
    </div>
  </div>
</div>
