@import "../product/product.component.scss";

.sales-page {
  padding: 60px 0;
  min-height: 60vh;

  .section-title {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;

    span {
      color: #e02020;
    }
  }
}

.badge.sale {
  background: #e02020;
  color: #fff;
}

.price-wrapper {
  .old-price {
    text-decoration: line-through;
    color: #86868b;
    font-size: 14px;
    display: block;
  }

  .sale-price {
    color: #e02020 !important;
    font-size: 22px;
    font-weight: 700;
  }
}

.empty-sales {
  text-align: center;
  padding: 100px 0;

  p {
    font-size: 18px;
    color: #86868b;
    margin-bottom: 20px;
  }
}

.btn-buy-now {
  background-color: #6f73ee;
  &:hover {
    background-color: #c41a1a;
  }
}
