<app-promo-banner></app-promo-banner>

<section class="catalog">
  <div class="container">
    <div class="catalog-header">
      <h2 class="section-title">Смартфони Apple</h2>

      <div class="filter-tabs" *ngIf="products$ | async as allProducts">
        <button class="tab" (click)="setCategory(null)">Всі</button>
        <button class="tab" (click)="setCategory('hit')">Хіти продажів</button>

        <div class="dropdown">
          <button class="tab dropdown-toggle">iPhone ▾</button>
          <div class="dropdown-menu">
            <button class="dropdown-item" (click)="setCategory('iPhone 17')">
              iPhone 17
            </button>
            <button class="dropdown-item" (click)="setCategory('iPhone 16')">
              iPhone 16
            </button>
            <button class="dropdown-item" (click)="setCategory('iPhone 15')">
              iPhone 15
            </button>
          </div>
        </div>
        <button class="tab" routerLink="/sales">
          <span>Акції</span>
        </button>
      </div>
    </div>

    <div class="product-grid" *ngIf="products$ | async as allProducts">
      <div class="product-card" *ngFor="let product of allProducts">
        <div class="card-top">
          <span class="badge now" *ngIf="product.isNew">НОВИНКА</span>

          <span class="badge-hit" *ngIf="product.isHit">ХІТ</span>

          <button class="compare-icon">
            <img src="/ter.svg" alt="compare" />
          </button>
        </div>

        <a [routerLink]="['/product', product.id]" class="product-img-link">
          <div class="product-img-wrapper">
            <img
              src="/{{ product.img }}"
              alt="{{ product.title }}"
              class="product-img"
            />
          </div>
        </a>

        <div class="product-info">
          <h3 class="product-title">
            <a [routerLink]="['/product', product.id]">{{ product.title }}</a>
          </h3>

          <div class="specs-grid">
            <div class="spec">
              <span class="icon"><img src="/zip.svg" alt="zip" /></span>

              {{ product.battery }}
            </div>

            <div class="spec">
              <span class="icon"><img src="/zip.svg" alt="zip" /></span>

              {{ product.cameraMain }} / {{ product.cameraFront }}
            </div>

            <div class="spec">
              <span class="icon"><img src="/zip.svg" alt="zip" /></span>

              {{ product.hdd }}
            </div>

            <div class="spec">
              <span class="icon"><img src="/zip.svg" alt="zip" /></span>

              {{ product.memorry }}
            </div>
          </div>

          <div class="price-container">
            <div class="price-wrapper">
              <span class="old-price" *ngIf="product.priceWithDiscount"
                >{{ product.price }} ₴</span
              >

              <span class="main-price" *ngIf="!product.priceWithDiscount"
                >{{ product.price }} ₴</span
              >

              <span class="main-price" *ngIf="product.priceWithDiscount"
                >{{ product.priceWithDiscount }} ₴</span
              >
            </div>

            <div class="secondary-actions">
              <button class="action-btn">
                <img src="/shop.svg" alt="cart" />
              </button>

              <button class="action-btn" (click)="toggleWishlist(product)">
                <img src="/serr.svg" alt="wishlist" *ngIf="!product.saved" />
                <img
                  src="/serrActive.svg"
                  alt="wishlist"
                  *ngIf="product.saved"
                />
              </button>
            </div>
          </div>

          <button class="btn-buy-now">Купити в 1 клік</button>
        </div>
      </div>
    </div>

    <div class="pagination" *ngIf="totalPages > 1">
      <button
        *ngFor="let page of [].constructor(totalPages); let i = index"
        (click)="changePage(i + 1)"
        [class.active]="currentPageValue === i + 1"
      >
        {{ i + 1 }}
      </button>
    </div>
  </div>
</section>
