<app-promo-banner></app-promo-banner>
<section class="catalog">
  <div class="container">
    <div class="catalog-header">
      <h2 class="section-title">Смартфони Apple</h2>
      <div class="filter-tabs">
        <button class="tab active">Хіти продажів</button>
        <button class="tab">iPhone 17 Pro</button>
        <button class="tab">iPhone 16</button>
        <button class="tab" routerLink="/sales">
          <span>Акції</span>
        </button>
      </div>
    </div>

    <div class="product-grid" *ngIf="products$ | async as allProducts">
      <div
        class="product-card"
        *ngFor="let product of allProducts.slice(0, displayLimit)"
      >
        <div class="card-top">
          <span class="badge now" *ngIf="product.isNew">НОВИНКА</span>
          <span class="badge-hit" *ngIf="product.isHit">ХІТ</span>
          <button class="compare-icon">
            <img src="/ter.svg" alt="compare" />
          </button>
        </div>

        <a [routerLink]="['/product', product.id]" class="product-img-link">
          <div class="product-img-wrapper">
            <img
              src="/{{ product.img }}"
              alt="{{ product.title }}"
              class="product-img"
            />
          </div>
        </a>

        <div class="product-info">
          <h3 class="product-title">
            <a [routerLink]="['/product', product.id]">{{ product.title }}</a>
          </h3>

          <div class="specs-grid">
            <div class="spec">
              <span class="icon"><img src="/zip.svg" alt="zip" /></span>
              {{ product.battery }}
            </div>
            <div class="spec">
              <span class="icon"><img src="/zip.svg" alt="zip" /></span>
              {{ product.cameraMain }} / {{ product.cameraFront }}
            </div>
            <div class="spec">
              <span class="icon"><img src="/zip.svg" alt="zip" /></span>
              {{ product.hdd }}
            </div>
            <div class="spec">
              <span class="icon"><img src="/zip.svg" alt="zip" /></span>
              {{ product.memorry }}
            </div>
          </div>

          <div class="price-container">
            <div class="price-wrapper">
              <span class="old-price" *ngIf="product.priceWithDiscount"
                >{{ product.price }} ₴</span
              >
              <span class="main-price" *ngIf="!product.priceWithDiscount"
                >{{ product.price }} ₴</span
              >
              <span class="main-price" *ngIf="product.priceWithDiscount"
                >{{ product.priceWithDiscount }} ₴</span
              >
            </div>
            <div class="secondary-actions">
              <button class="action-btn">
                <img src="/shop.svg" alt="cart" />
              </button>
              <button class="action-btn">
                <img src="/serr.svg" alt="wishlist" />
              </button>
            </div>
          </div>

          <button class="btn-buy-now">Купити в 1 клік</button>
        </div>
      </div>
    </div>

    <div class="center-btn" *ngIf="products$ | async as allProducts">
      <button
        class="btn-show-all"
        (click)="showMore()"
        *ngIf="displayLimit < allProducts.length"
      >
        Дивитись ще товари
      </button>
    </div>
  </div>
</section>
