/* src/styles.scss */

@font-face {
  font-family: "ComicRoasting";
  src: url("./assets/fonts/Comic Roasting.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "BuhunRetro";
  src: url("./assets/fonts/Buhun Retro Three FREE.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MolenFriendDemo";
  src: url("./assets/fonts/Molen Friend Demo.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TalinaDemo";
  src: url("./assets/fonts/Talina DEMO.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
